{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'assets/libs/select2/dist/css/select2.min.css' %}">

{% endblock %}

{% block content %}
    <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-4 py-2">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-1">New Lead</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-muted text-decoration-none" href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">New Lead</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-2">
                    <div class="text-center mb-n5">
                        <img src="{% static 'assets/images/new/house.png' %}" alt="modernize-img" class="img-fluid mb-n4" 
                        style="transform: translateY(-10%);" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-with-tabs">
        <div class="card">
            <ul class="nav nav-pills user-profile-tab border-bottom" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-6 fw-bold" id="pills-personal-info-tab" data-bs-toggle="pill" data-bs-target="#pills-personal-info" type="button" role="tab" aria-controls="pills-personal-info" aria-selected="true">
                Real Estate
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6 fw-bold" id="pills-account-details-tab" data-bs-toggle="pill" data-bs-target="#pills-account-details" type="button" role="tab" aria-controls="pills-account-details" aria-selected="false">
                Roofing
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6 fw-bold" id="pills-social-links-tab" data-bs-toggle="pill" data-bs-target="#pills-social-links" type="button" role="tab" aria-controls="pills-social-links" aria-selected="false">
                Solar
                </button>
            </li>
            </ul>
            <div class="card-body p-4">
            
            <form class="needs-validation" novalidate method="post" action="{% url 'lead_form' %}">
                {% csrf_token %}

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-personal-info" role="tabpanel" aria-labelledby="pills-personal-info-tab" tabindex="0">
                    <div class="row">
                        <div class="col-lg-6">
                        
                            <div class="mb-4">
                                <label class="form-label">Campaign *</label>
                                <select class="select2 form-control" name="campaign" required>
                                    <option value="">Select..</option>
                                    {% for camp in campaigns%}
                                        <option value="{{camp.id}}">{{camp.name}}</option>    
                                    {% endfor %}                            
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Phone *</label>
                                <input type="text" name="phone" class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname3" class="form-label">Property Type *</label>
                                <select class="form-select" name="property_type" aria-label="Property Type Selection" required>
                                    <option value="">Select..</option>
                                    <option value="house">House</option>
                                    <option value="vacant_land">Vacant Land</option>
                                    <option value="Business">Business</option>
                                    <option value="apartment">Apartment</option>
                                    <option value="condo">Condo</option>
                                    <option value="mobile_home">Mobile Home</option>

                                </select>                    
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Asking Price *</label>
                                <input type="text" name="asking_price" class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Reason *</label>
                                <input type="text" name="reason" class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Property URL *</label>
                                <input type="text" name="property_url" class="form-control"  placeholder="" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label for="exampleInputlastname2" class="form-label"> Name *</label>
                                <input type="text" name="name" class="form-control text-capitalize"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-control"  placeholder="example@email.com">

                            </div>
                            <div class="mb-4">
                                <label for="exampleInputphoneno2" class="form-label">Address *</label>
                                <input type="text"name="address" class="form-control text-capitalize" placeholder="123 Main St, City, State, Zip" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Market Value *</label>
                                <input type="text" name="market_value"class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname3" class="form-label">Timeline *</label>
                                <select class="form-select" name="timeline" aria-label="Default select example" required>
                                    <option value="">Select..</option>
                                    <option value="two_weeks">2 Weeks</option>
                                    <option value="one_month">1 Month</option>
                                    <option value="two_months">2 Months</option>
                                    <option value="three_months">3 Months</option>
                                    <option value="four_months">4 Months</option>
                                    <option value="five_months">5 Months</option>
                                    <option value="six_months">6 Months</option>
                                    <option value="six_plus_months">6+ Months</option>

                                </select>                    
                            </div>
                            
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Callback Time</label>
                                <input type="text" name="callback" class="form-control"  placeholder="" >
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="exampleInputfirstname3" class="form-label">Notes *</label>
                                <textarea class="form-control" name="notes" rows="3" required></textarea>
                            </div>
                        
                        <div class="col-12">
                        <br>
                        <div class="d-flex align-items-center gap-3">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane fade"  role="tabpanel" aria-labelledby="pills-account-details-tab" tabindex="0">
                    <div class="row">
                        <div class="col-lg-6">
                        <div class="mb-4">
                            <label for="exampleInputUsername" class="form-label">Username</label>
                            <input type="text" class="form-control"   placeholder="John Deo">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Password</label>
                            <div class="input-group">
                            <input type="password" class="form-control" placeholder="">
                            <span class="input-group-text px-6" id="basic-addon1">
                                <i class="ti ti-eye fs-6"></i>
                            </span>
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="mb-4">
                            <label class="form-label">Email</label>
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="John Deo">
                            <span class="input-group-text px-6" id="basic-addon1">@example.com</span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Confirm Password</label>
                            <div class="input-group">
                            <input type="password" class="form-control" placeholder="John Deo">
                            <span class="input-group-text px-6" id="basic-addon1">
                                <i class="ti ti-eye fs-6"></i>
                            </span>
                            </div>
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="d-flex align-items-center gap-3">
                            <button class="btn btn-primary">Submit</button>
                            <button class="btn bg-danger-subtle text-danger">Cancel</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="pills-social-links" role="tabpanel" aria-labelledby="pills-social-links-tab" tabindex="0">
                    <div class="row">
                        <div class="col-lg-6">
                        <div class="mb-4">
                            <label for="exampleInputtwitter" class="form-label">Twitter</label>
                            <input type="text" class="form-control" id="exampleInputtwitter" placeholder="https://twitter.com/abc">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputgoogle" class="form-label">Google</label>
                            <input type="text" class="form-control" id="exampleInputgoogle" placeholder="https://plus.google.com/abc">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputinstagram" class="form-label">Instagram</label>
                            <input type="text" class="form-control" id="exampleInputinstagram" placeholder="https://instagram.com/abc">
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="mb-4">
                            <label for="exampleInputfacebook" class="form-label">Facebook</label>
                            <input type="text" class="form-control" id="exampleInputfacebook" placeholder="https://facebook.com/abc">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputlinkedin" class="form-label">Linkedin</label>
                            <input type="text" class="form-control" id="exampleInputlinkedin" placeholder="https://linkedin.com/abc">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputquora" class="form-label">Quora</label>
                            <input type="text" class="form-control" id="exampleInputquora" placeholder="https://quora.com/abc">
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="d-flex align-items-center gap-3">
                            <button class="btn btn-primary">Submit</button>
                            <button class="btn bg-danger-subtle text-danger">Cancel</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'assets/libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/forms/select2.init.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-validation-init.js' %}"></script>
{% endblock %}