{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'assets/libs/select2/dist/css/select2.min.css' %}">

{% endblock %}

{% block content %}
    <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-4 py-2">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-1">New Lead</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-muted text-decoration-none" href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">New Lead</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-2">
                    <div class="text-center mb-n5">
                        <img src="{% static 'assets/images/new/house.png' %}" alt="modernize-img" class="img-fluid mb-n4" 
                        style="transform: translateY(-10%);" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-with-tabs">
        <div class="card">
            <ul class="nav nav-pills user-profile-tab border-bottom" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-6 fw-bold" id="realestate-tab" data-bs-toggle="pill" data-bs-target="#realestate" type="button" role="tab" aria-controls="realestate" aria-selected="true">
                Real Estate
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6 fw-bold" id="roofing-tab" data-bs-toggle="pill" data-bs-target="#roofing" type="button" role="tab" aria-controls="roofing" aria-selected="false">
                Roofing
                </button>
            </li>
            
            {% for form in custom_forms %}
            {% with tab_id=form.name|slugify %}
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6 fw-bold" id="{{ tab_id }}-tab" data-bs-toggle="pill" data-bs-target="#{{ tab_id }}" type="button" role="tab" aria-controls="{{ tab_id }}" aria-selected="false">
                    {{ form.name }}
                </button>
            </li>
            {% endwith %}
            {% endfor %}
            </ul>
            <div class="card-body p-4">
            
            

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="realestate" role="tabpanel" aria-labelledby="realestate-tab" tabindex="0">
                    <form class="needs-validation" novalidate method="post" action="{% url 'lead_form' %}">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="re_form">

                    <div class="row">
                        <div class="col-lg-6">
                        
                            <div class="mb-4">
                                <label class="form-label">Campaign *</label>
                                <select class="select2 form-control" name="campaign" required>
                                    <option value="">Select..</option>
                                    {% for camp in campaigns%}
                                        <option value="{{camp.id}}">{{camp.name}}</option>    
                                    {% endfor %}                            
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Phone *</label>
                                <input type="text" name="phone" class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname3" class="form-label">Property Type *</label>
                                <select class="form-select" name="property_type" aria-label="Property Type Selection" required>
                                    <option value="">Select..</option>
                                    <option value="house">House</option>
                                    <option value="vacant_land">Vacant Land</option>
                                    <option value="Business">Business</option>
                                    <option value="apartment">Apartment</option>
                                    <option value="condo">Condo</option>
                                    <option value="mobile_home">Mobile Home</option>

                                </select>                    
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Asking Price *</label>
                                <input type="text" name="asking_price" class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Reason *</label>
                                <input type="text" name="reason" class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Property URL </label>
                                <input type="text" name="property_url" class="form-control"  placeholder="" >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label for="exampleInputlastname2" class="form-label"> Name *</label>
                                <input type="text" name="name" class="form-control text-capitalize"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-control"  placeholder="example@email.com">

                            </div>
                            <div class="mb-4">
                                <label for="exampleInputphoneno2" class="form-label">Address *</label>
                                <input type="text"name="address" class="form-control text-capitalize" placeholder="123 Main St, City, State, Zip" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Market Value *</label>
                                <input type="text" name="market_value"class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname3" class="form-label">Timeline *</label>
                                <select class="form-select" name="timeline" aria-label="Default select example" required>
                                    <option value="">Select..</option>
                                    <option value="two_weeks">2 Weeks</option>
                                    <option value="one_month">1 Month</option>
                                    <option value="two_months">2 Months</option>
                                    <option value="three_months">3 Months</option>
                                    <option value="four_months">4 Months</option>
                                    <option value="five_months">5 Months</option>
                                    <option value="six_months">6 Months</option>
                                    <option value="six_plus_months">6+ Months</option>

                                </select>                    
                            </div>
                            
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Callback Time</label>
                                <input type="text" name="callback" class="form-control"  placeholder="" >
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="exampleInputfirstname3" class="form-label">Notes *</label>
                                <textarea class="form-control" name="notes" rows="3" required></textarea>
                            </div>
                        
                        <div class="col-12">
                        <br>
                        <div class="d-flex align-items-center gap-3">
                            <button class="btn btn-primary" type="submit" name="re_submit">Submit</button>
                        </div>
                        </div>
                    </div>
                    </form>
                    </div>
                    <div class="tab-pane fade"  role="tabpanel" id="roofing" aria-labelledby="roofing-tab" tabindex="0">
                    <form class="needs-validation" novalidate method="post" action="{% url 'lead_form' %}">
                    {% csrf_token %}
                        <input type="hidden" name="form_id" value="roofing_form">

                        <div class="row">
                        <div class="col-lg-6">
                        
                            <div class="mb-4">
                                <label class="form-label">Campaign *</label>
                                <select class="select2 form-control" name="campaign" required>
                                    <option value="">Select..</option>
                                    {% for camp in campaigns%}
                                        <option value="{{camp.id}}">{{camp.name}}</option>    
                                    {% endfor %}                            
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Phone *</label>
                                <input type="text" name="phone" class="form-control"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname3" class="form-label">Property Type *</label>
                                <select class="form-select" name="property_type" aria-label="Property Type Selection" required>
                                    <option value="">Select..</option>
                                    <option value="house">House</option>
                                    <option value="vacant_land">Vacant Land</option>
                                    <option value="Business">Business</option>
                                    <option value="apartment">Apartment</option>
                                    <option value="condo">Condo</option>
                                    <option value="mobile_home">Mobile Home</option>

                                </select>                    
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Roof Age *</label>
                                <input type="text" name="roof_age" class="form-control"  placeholder="" required>
                            </div>
                           
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-4">
                                <label for="exampleInputlastname2" class="form-label"> Name *</label>
                                <input type="text" name="name" class="form-control text-capitalize"  placeholder="" required>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-control"  placeholder="example@email.com">

                            </div>
                            <div class="mb-4">
                                <label for="exampleInputphoneno2" class="form-label">Address *</label>
                                <input type="text"name="address" class="form-control text-capitalize" placeholder="123 Main St, City, State, Zip" required>
                            </div>
                            <div class="mb-4">
                                <label for="exampleInputfirstname2" class="form-label">Appointment Time *</label>
                                <input type="text" name="appointment_time"class="form-control"  placeholder="" required>
                            </div>
                            
                            
                            
                        </div>
                            <div class="form-group">
                                <label for="exampleInputfirstname3" class="form-label">Notes *</label>
                                <textarea class="form-control" name="notes" rows="3" required></textarea>
                            </div>
                        
                        <div class="col-12">
                        <br>
                        <div class="d-flex align-items-center gap-3">
                            <button class="btn btn-primary" type="submit" name="re_submit">Submit</button>
                        </div>
                        </div>
                    </div>
                    </form>
                    </div>


                    {% for form in custom_forms %}
                      {% with tab_id=form.name|slugify %}
                        <div class="tab-pane fade" id="{{ tab_id }}" role="tabpanel" aria-labelledby="{{ tab_id }}-tab" tabindex="0">
                          <form class="needs-validation" novalidate method="post" action="{% url 'lead_form' %}">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value="{{ form.id }}">

                            <div class="row">
                              <!-- Left Column -->
                              <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="form-label">Campaign *</label>
                                    <select class="select2 form-control" name="campaign" required>
                                        <option value="">Select..</option>
                                        {% for camp in campaigns%}
                                            <option value="{{camp.id}}">{{camp.name}}</option>    
                                        {% endfor %}                            
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="exampleInputfirstname2" class="form-label">Phone *</label>
                                    <input type="text" name="phone" class="form-control"  placeholder="" required>
                                </div>
                                {% for field in form.fields.all %}
                                  {% if forloop.counter0|divisibleby:2 %}
                                    <div class="form-group mb-3">
                                      <label class="form-label">{{ field.label }}{% if field.required %} *{% endif %}</label>
                                      {% if field.field_type == "text" %}
                                        <input type="text" name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}>
                                      {% elif field.field_type == "number" %}
                                        <input type="number" name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}>
                                      {% elif field.field_type == "email" %}
                                        <input type="email" name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}>
                                      {% elif field.field_type == "date" %}
                                        <input type="date" name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}>
                                      {% elif field.field_type == "boolean" %}
                                        <input type="checkbox" name="field_{{ field.id }}" class="form-check-input">
                                      {% elif field.field_type == "textarea" %}
                                        <textarea name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}></textarea>
                                      {% elif field.field_type == "select" %}
                                        <select name="field_{{ field.id }}" class="form-select" {% if field.required %}required{% endif %}>
                                          <option value="">Select an option</option>
                                          {% for option in field.options %}
                                            <option value="{{ option }}">{{ option }}</option>
                                          {% endfor %}
                                        </select>
                                      {% endif %}
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>

                              <!-- Right Column -->
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                    <label for="exampleInputlastname2" class="form-label"> Name *</label>
                                    <input type="text" name="name" class="form-control text-capitalize"  placeholder="" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control"  placeholder="example@email.com">

                                </div>
                                {% for field in form.fields.all %}
                                  {% if not forloop.counter0|divisibleby:2 %}
                                    <div class="form-group mb-3">
                                      <label class="form-label">{{ field.label }}{% if field.required %} *{% endif %}</label>
                                      {% if field.field_type == "text" %}
                                        <input type="text" name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}>
                                      {% elif field.field_type == "number" %}
                                        <input type="number" name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}>
                                      {% elif field.field_type == "email" %}
                                        <input type="email" name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}>
                                      {% elif field.field_type == "date" %}
                                        <input type="date" name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}>
                                      {% elif field.field_type == "boolean" %}
                                        <input type="checkbox" name="field_{{ field.id }}" class="form-check-input">
                                      {% elif field.field_type == "textarea" %}
                                        <textarea name="field_{{ field.id }}" class="form-control" {% if field.required %}required{% endif %}></textarea>
                                      {% elif field.field_type == "select" %}
                                        <select name="field_{{ field.id }}" class="form-select" {% if field.required %}required{% endif %}>
                                          <option value="">Select an option</option>
                                          {% for option in field.options %}
                                            <option value="{{ option }}">{{ option }}</option>
                                          {% endfor %}
                                        </select>
                                      {% endif %}
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>

                              <!-- Submit -->
                              <div class="col-12">
                                <br>
                                <div class="d-flex align-items-center gap-3">
                                  <button class="btn btn-primary" type="submit" name="re_submit">Submit</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      {% endwith %}
                    {% endfor %}

                </div>
            
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'assets/libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/forms/select2.init.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-validation-init.js' %}"></script>
{% endblock %}